body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 40px;
}

.accordion {
  width: 80%;
  margin: auto;
}

.accordion-item {
  border: 2px solid #000;
  margin-bottom: 15px;
}

.accordion-header {
  width: 100%;
  padding: 15px;
  text-align: left;
  background: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.accordion-content {
  display: none;
  padding: 15px;
 
}
